<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecust.mapper.student.SProjectMapper">
	<select id="selectById" resultType="project" parameterType="int">
		select * from project where project_id=#{0}
	</select>
</mapper>